@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 58px;
    width: 100%;
    display: flex;
    flex-flow: unset;
    justify-content: space-between;
    align-items: center;
    align-content: unset;
    overflow: unset;
}

.headerLeft {
    order: unset;
    flex: unset;
    align-self: unset;
}

.USePData {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: unset;
    place-content: unset;
    align-items: center;
    overflow: unset;
}

.headerLeftText {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    place-content: unset;
    align-items: unset;
    overflow: unset;
    font-size: 18px;
}

.headerRight {
    order: unset;
    flex: unset;
    align-self: unset;
}

.QAD {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: unset;
    place-content: unset;
    align-items: center;
    overflow: unset;
}

.headerRightText {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    place-content: unset;
    align-items: flex-end;
    overflow: unset;
    text-align: right;
}

.body {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
}

.body, .body1, .body2 {
    padding: 0 52px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.bodyLeft, .bodyRight, .bodyLeft1, .bodyRight1 {
    flex-grow: 0;
    margin-left: 0;
    box-sizing: border-box;
}

.bodyLeft, .bodyRight {
    max-width: 50%;
    flex-basis: 50%;
}

.bodyLeft1 {
    max-width: 100%;
    flex-basis: 70%;
}

.bodyLeft, .bodyRight {
    padding-left: 100px;
}

.bodyMid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75%; /* Optional: restrict maximum width */
}

.bodyMidText {
    color: #D21011;
    font-weight: 500;
    font-size: 50px;
}

.bodyMidText.small {
    font-weight: 700;
    font-size: 20px;
}

.login, .verify {
    color: rgb(255, 255, 255);
    white-space: unset;
    padding: 16px 55px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #FF7A7A;
    border: unset;
    outline: unset;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.login {
    min-width: 120px;
}

.verify {
    min-width: 455px;
}

.login:hover, .verify:hover {
    background: #ff7070;
}

.signup, .okay, .resend, .apply, .cancel {
    color: black;
    text-decoration: none;
    white-space: unset;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.apply {
    background-color: #34C759;
    color: white;
}

.cancel {
    padding: 16px 45px;
    margin-right: 10px;
    color: #AFAFAF;
}

.cancel:hover {
    color: #858181;
}
.okay, .apply {
    padding: 16px 55px;
    min-width: 120px;
}

.apply:hover {
    background-color: #28b04b;
}
.signup {
    margin-right: 35px;
    padding: 16px 55px;
    min-width: 120px;
}

.resend {
    padding: 16px 30px;
    min-width: 120px;
    margin-left: 30px;
}

.signup:hover, .okay:hover, .resend:hover {
    background-color: #EAEAEA;
}

.resend.disabled {
    background-color: #EAEAEA;
    color: #c2c2c2;
    cursor: not-allowed;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.popup-image {
    max-width: 100%;
    height: auto;
}

.popup-text {
    margin: 20px 50px;
    font-size: 17px;
    font-weight: 500;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.continue {
    min-width: 120px;
    white-space: unset;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
    outline: unset;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.continue:hover {
    background-color: #EAEAEA;
}

.hairpop-up {
    height: 15px;
    background: linear-gradient(275.52deg, #973939 0.28%, #DC7171 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.name {
    display: flex;
    gap: 10px;
    width: 720px;
}

.nameContainer, .prefixContainer {
    border-color: rgb(170, 170, 170);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex: 1;
}

.nameContainer {
    padding: 12px 20px;
}
.prefixContainer {
    flex: 0 0 18%; /* Adjust as needed */
}

.middleinitialContainer {
    flex: 0 0 10%;
}

.prefixContainer select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    -webkit-appearance: none; /* Remove default dropdown arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default dropdown arrow in Firefox */
    appearance: none; /* Remove default dropdown arrow */
    background-color: transparent; /* Ensure background is transparent */
    cursor: pointer; /* Change cursor to pointer */
    padding: 12px 20px;
}

.user_idText,
.passwordText,
.prefix,
.firstname,
.middleinitial,
.lastname,
.email,
.college,
.company,
.gender {
    color: #575757;
    width: 100%;
    border: 0;
    resize: none;
    outline: 0;
    padding: 0;
    font-size: 1rem;
    background: transparent;
    caret-color: #575757;
}

.showpasswordText {
    margin-right: 86px;
}

.showpasswordContainer {
    display: flex;
    align-items: center;
}

.showpasswordContainer label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#showPasswordCheckbox {
    display: none; /* Hide the default checkbox */
}

/* Create a custom checkbox */
#showPasswordCheckbox + .custom-checkbox {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 8px;
    background: transparent;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

/* Hover effect */
#showPasswordCheckbox + .custom-checkbox:hover {
    border-color: rgb(87, 87, 87);
    background-color: rgba(87, 87, 87, 0.1);
}

/* Checked effect */
#showPasswordCheckbox:checked + .custom-checkbox {
    background-color: #FF7A7A;
    border-color: rgb(87, 87, 87);
}

/* Checkmark */
#showPasswordCheckbox:checked + .custom-checkbox::after {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

.register-form label {
    position: relative;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #7B7B7B;
    border-radius: 8px;
    padding: 20px 25px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    width: 349px;
}

.register-form input[type="radio"]:checked+label {
    background-color: #FF7A7A;
    color: white;
}

.college-company-gender {
    position: relative;
    margin-bottom: 10px;
}

.college-company-gender select {
    width: 721px;
    padding: 12px 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.college-company-gender select:focus {
    border: 1px solid #aaa; /* Customize the border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.gender1 input:focus {
    border: 1px solid #aaa; /* Customize the border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.college-company-gender .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #888;
}

.form-profile-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-section {
    width: 80%;
    margin-right: 150px;
}

.profile-section {
    width: 20%;
}

